<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>body{margin: 0} h1{margin: 0}</style>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>


<app-game>Loading...</app-game>



</body>
</html>