@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?nu7vw1');
    src:  url('fonts/icomoon.eot?nu7vw1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nu7vw1') format('truetype'),
    url('fonts/icomoon.woff?nu7vw1') format('woff'),
    url('fonts/icomoon.svg?nu7vw1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
    content: "\e901";
}
.icon-eyedropper:before {
    content: "\e90a";
}
.icon-music:before {
    content: "\e911";
}
.icon-pacman:before {
    content: "\e916";
}
.icon-cart:before {
    content: "\e93a";
}
.icon-user:before {
    content: "\e971";
}
.icon-hour-glass:before {
    content: "\e979";
}
.icon-wrench:before {
    content: "\e991";
}
.icon-magic-wand:before {
    content: "\e997";
}
.icon-rocket:before {
    content: "\e9a5";
}
.icon-fire:before {
    content: "\e9a9";
}

#item {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#item2 {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.card {
    width: 110px;
    height: 174px;
    margin: 10px;
}
.card2 {
    width: 87px;
    height: 145px;
    margin: 10px;
}
.flip{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    background: white;
    border: 5px solid #000;
    border-radius: 5%;
    margin: -5px 0px 0px -5px;
    background-size: 110px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY( 180deg );
    width: 110px;
    height: 173px;
}
.front2{
    position: absolute;
    background: white;
    border: 5px solid #000;
    border-radius: 5%;
    margin: -5px 0px 0px -5px;
    background-size: 110px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY( 180deg );
    width: 87px;
    height: 145px;
}
.back{
    background: white;
    position: absolute;
    transform: rotateY( 180deg );
    width: 110px;
    height: 174px;
    border-radius: 5%;
}
.back2{
    background: white;
    position: absolute;
    transform: rotateY( 180deg );
    width: 87px;
    height: 145px;
    border-radius: 5%;
}
.i-f{
    font-size: 60px;
    color: #3e3e3e;
    position: absolute;
    top: 55px;
    left: 25px;
}
.i-f2{
    font-size: 60px;
    color: #3e3e3e;
    position: absolute;
    top: 40px;
    left: 12px;}
.i-b{
    font-size: 85px;
    color: #3e3e3e;
    position: relative;
    top: 40px;
    left: 13px;
}
.i-b2{
    font-size: 70px;
    color: #3e3e3e;
    position: relative;
    top: 37px;
    left: 10px;
}
